<%- include('./header')%>

<style>
   h1{
      /* color:white; */
      /* font-weight:bold; */
      font-family: tusar-deco,serif;

      text-decoration: underline 0.15em rgb(248, 245, 245);
      text-underline-offset: 0.2em;
      transition: text-decoration-color 300ms, text-underline-offset 300ms;
   }
   .container{
      position:relative;
      margin-top:100px;
   }
 
   h1:hover{
      text-decoration-color:transparent;
      text-underline-offset: 0.4em;
   }
</style>


<body style="background-image: linear-gradient(to right, rgb(219, 21, 21), rgb(7, 18, 168, 1));">

<div class="container">
   <span style="padding:9px;border-radius:5px;justify-content:center; margin-left:510px; background-color:#39dd82; font-weight:bold; border:1px solid black; color:white;font-weight:300" aria-readonly="true"><%=date%></span>
   <form target="_blank" class="form-group" style="padding-top:70px" action="/room" method="POST">
      <center><h1 style="color:white">Welcome To Zoom Clone</h1><br>
      <h4 style="color:white;">Please Enter Your Name</h4><br>
      <input type="text" style="width:300px;caret-color: #b83153;" name="name" class="form-control"/>
      <br>
      <button type="submit" class="btn btn-success" style="background-color:#21e479; font-weight:bold;border:1.5px solid #000000">Start Chat</button></center>
   </form>
</div>


</body>
<script>
  
</script>



